<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="classpath:musicPlayerInfo.properties"/>

    <bean id="classicalMusicBean"
          class="org.example.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

    <bean id="rockMusicBean"
          class="org.example.RockMusic">
    </bean>

    <bean id="hyperpopMusicBean"
          class="org.example.HyperpopMusic">
    </bean>

    <bean id="musicPlayer"
          class="org.example.MusicPlayer"
          scope="singleton">
<!--        <constructor-arg ref="musicBean"/>-->
        <property name="music" ref="classicalMusicBean"/>

        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="name" value="${musicPlayer.name}"/>

        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="hyperpopMusicBean"/>
            </list>
        </property>

    </bean>

</beans>